<!DOCTYPE html> 
<html> 
<head> 
    <title>History Transactions</title> 
    <% include ../partials/_ct_header %>
    <link href="/stylesheets/ct_availability.css" rel="stylesheet">
</head> 
<body>
    <div class="row justify-content-center">
   <div class="col m-2">
       <section class="card">
           <div class="twt-feed blue-bg">
               <div class="corner-ribon black-ribon">
               </div>
               <div class="media">
                   <a href="#">
                       <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                   </a>
                   <div class="media-body">
                       <h2 class="text-white display-6">My History Transactions</h2>
                       <p class="text-light">View Past Transactions, Ratings and Comments</p>
                   </div>
               </div>
           </div>
       </section>
       </div>
    </div>
    <div class="row justify-content-center">
       <div class="col m-2">
           <table class="table" style="background-color:white">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Care Taker</th>
                <th scope="col">My Pet</th>
                <th scope="col">Date Range</th>
                <th scope="col">Rating</th>
                <th scope="col">Feedback</th>
            </tr>
            </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <form class="form-submitfeedback" action="/" method="post">
        <td>
            5.0
        </td>
        <td>
        Comment
        </td>
        </form>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
        5.0
        </td>
        <td>
        Comment
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
            5.0
        </td>
        <td>
        Comment
        </td>
      </tr>
    </tbody>
  </table>
       </div>
    </div>
</body>
</html>