<!DOCTYPE html> 
<html> 
<head> 
    <title>Edit Profile</title> 
    <% include ../partials/_ct_header %>
</head> 
<body>
    <header>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
</body>
</html>