<link rel="stylesheet" href="/css/bootstrap.min.css" />

<head>
    <link href="/stylesheets/ct_header.css" rel="stylesheet">
</head>
<div class="header">
    <div class="header-right">
      <a class="/active" href="/pet_owner">Home</a>
      <a href="/pet_owner/history">History</a>
      <a href="/pet_owner/pets">My Pets</a>
      <a href="/pet_owner/bid">Bid</a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
    </a>
    </div>
</div>