<!DOCTYPE html> 
<html> 
<head> 
    <title>Edit Profile</title> 
    <% include ../partials/_po_header %>
    <link href="/stylesheets/ct_profile.css" rel="stylesheet">
</head> 
<body>
    <header>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
</body>
</html>