<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= title %></title> 
        <% include ./partials/_ad_header %>
    </head> 
    <body> 
        <div class="row justify-content-center">
        <div class="col m-2">
        <section class="card">
            <div class="twt-feed blue-bg">
                <div class="corner-ribon black-ribon">
                </div>
    
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/paw-solid.svg>
                    </a>
                    <div class="media-body">
                        <h2 class="text-white display-6">Jim Doe</h2>
                        <p class="text-light">Admin</p>
                    </div>
                </div>
            </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 10%;">#</th>
                <th scope="col" style="width: 15%;">Care Taker</th>
                <th scope="col" style="width: 15%;">Employment Type</th>
                <th scope="col" style="width: 15%;">Rating</th>
                <th scope="col" style="width: 15%;">Month</th>
                <th scope="col" style="width: 15%;">Pet Day</th>
                <th scope="col" style="width: 15%;">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Jim</td>
                <td>Full Time</td>
                <td>4.0/5.0</td>
                <td>May</td>
                <td>24</td>
                <td>$3000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Tom</td>
                <td>Full Time</td>
                <td>4.5/5.0</td>
                <td>June</td>
                <td>28</td>
                <td>$4000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Tim</td>
                <td>Part Time</td>
                <td>3.5/5.0</td>
                <td>July</td>
                <td>20</td>
                <td>$2000</td>
              </tr>
            </tbody>
          </table>
        </section>
        </div>
    </div>
    </body>
</html>