<!DOCTYPE html>
   <html>
      <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
      </head>
      <body>
        <div class="container">
          <% if (message.length > 0) { %>
             <div class="alert alert-warning" role="alert">
               <strong>Warning!</strong> <%= message %>.
             </div>
           <% } %>
      <form class="form-signin" action="/" method="post"> 
        <div class="form-group">
          <h2 class="form-signin-heading">Please log in</h2>
            <label for="role">Choose a role:</label>
            <select id="role" name="role" class="form-control">
                <option value="pet_owner">Pet Owner</option>
                <option value="care_taker">Care Taker</option>
            </select>
          <label for="inputName" class="sr-only form-control">Phone Number</label>
          <input type="text" id="phoneno" name="phoneno" class="form-control"
            placeholder="Phone Number" required="">
          <label for="inputPassword" class="sr-only form-control">Password</label>
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Password" required="">
          <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Log In</button> 
            <br> 
            <p>Don't have an account? <a href="/signup">Sign up</a>
        </div>
    </form> 
  </div> 
</body> 
</html> 
