<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Pet Caring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/stylesheets/landing.css" rel="stylesheet">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i">
  </head>
  <div>
    <% if (successFlash.length > 0) { %>
      <div class="alert alert-success mb-2" role="alert">
          <%= successFlash %>
      </div>
    <% } %>
    <% if (errorFlash.length > 0) { %>
        <div class="alert alert-danger mb-2" role="alert">
            <%= errorFlash %>
        </div>
    <% } %>
  </div>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-4bb3">
    <div class="row" style="text-align:center">
        <span style="text-align:right"><a data-role="button" class="btn btn-link btn-lg" href="/signup">Sign Up</a>
        <a data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#login">Log In</a></span>
        </div>
  </header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-c138">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 style="text-align:center">Need a care taker for your <b style="">
            <font class="u-text-palette-3-base">best friends?</font></b>
        </h1>
        <img src="images/db8e8ab2-1d21-c465-6593-d024fb1a5eb3.jpg" alt="" style="display:block; margin-left:auto; margin-right: auto;">
        <p class="u-text u-text-black u-text-8" style="text-align:center">Image by <a href="https://www.freepik.com/vectors/sale" class="u-border-1 u-border-grey-75 u-btn u-button-style u-none u-text-body-color u-btn-1">Freepik</a>
        </p>
      </div>
    </section>

    <section style="text-align:center">
        <span>Pet Care</span>
      </a>
      <br>
      <p>© 2020. All Rights Reserved.</p>
    </section>
    <!-------------------- Login -------------------------------->
    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log In</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin" action="/" method="post">
              <div class="form-group">

                  <select id="role" name="role" class="form-control">
                      <option value="pet_owner">Pet Owner</option>
                      <option value="care_taker">Care Taker</option>
                      <option value="care_taker">Both</option>
                      <option value="care_taker">Admin</option>
                  </select>

                <label for="inputName" class="sr-only">Phone Number</label>
                <input type="text" id="phone" name="phone" class="form-control"
                  placeholder="Phone Number" required="">

                <label for="inputPassword" class="sr-only form-control">Password</label>
                <input type="password" id="password" name="password"
                  class="form-control" placeholder="Password" required="">
                <br />
                <button class="btn btn-lg btn-primary btn-block"
                  type="submit">Log In</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>