<!DOCTYPE html> 
<html> 
<head> 
    <title><%= title %></title> 
    <% include ./partials/_header %>
</head> 
<body>
    <h2>Welcome to Pet Owner's page</h2>
    <header>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
</body>
</html>