<!DOCTYPE html> 
<html> 
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="po-home text-center">
            <h2>Welcome to Pet Owner's Page</h2>
        </div>
        <header class="po-navbar navbar-expand navbar-dark bg-primary sticky-top flex-column flex-md-row bd-navbar">
            <ul class="nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a href="/profile"><span style="color:white; margin-left: 16px; margin-right: 16px; vertical-align: middle;">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="/pet_profile"><span style="color:white; margin-left: 16px; margin-right: 16px; vertical-align: middle;" >My Pets</span></a>
                </li>
                <li class="nav-item">
                    <a href="/history"><span style="color:white; margin-left: 16px; margin-right: 16px; vertical-align: middle;" >History</span></a>
                </li>
                <li class="nav-item">
                    <a href="/bids"><span style="color:white; margin-left: 16px; margin-right: 16px; vertical-align: middle;" >My Bids</span></a>
                </li>
                <form class="form-inline ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button"><span style="color:white;">Bid</span></button>
                </form>
            </ul>
        </header>
        <div class="ct-info">
            
        </div>
    </body>
</html>